/*-------------------- App Chrome -----------------------*/
:root {
  --app-border: 1px solid #acacac;
}
.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: #ebebeb;
  border: var(--app-border);
  border-radius: 5px;
  overflow: hidden;

  width: 200px;
  margin: 8px;
}

header {
  background: linear-gradient(#ebebeb, #d5d5d5);
  border-bottom: var(--app-border);
  color: #4d494d;
}

h1.title {
  margin: 0;
  text-align: center;
  font-size: 100%;
}

.content { padding: 12px 6px; }
/*-------------------- App Chrome -----------------------*/
.converter {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 12px;
}
.temp-input {
  display: flex;
  align-items: baseline;
  font-size: 90%;
}
.temp-input > input {
  text-align: right;
  margin-right: 5px;
  padding: 4px;
}
.temp-input > input.invalid {
  background: lightsalmon;
}
