/*-------------------- App Chrome -----------------------*/
:root {
  --app-border: 1px solid #acacac;
  --app-background: #ebebeb;
}
.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--app-background);
  border: var(--app-border);
  border-radius: 5px;
  overflow: hidden;

  margin: 8px;
}

header {
  background: linear-gradient(#ebebeb, #d5d5d5);
  border-bottom: var(--app-border);
  color: #4d494d;
}

h1.title {
  margin: 0;
  text-align: center;
  font-size: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px 6px;
}

.content > * + * {
  margin-top: 5px;
}

.date-input.invalid {
  background: lightsalmon;
}

