/*-------------------- App Chrome -----------------------*/
:root {
  --app-border: 1px solid #acacac;
  --app-background: #ebebeb;
}
.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: var(--app-background);
  border: var(--app-border);
  border-radius: 5px;
  overflow: hidden;

  margin: 8px;
}

header {
  background: linear-gradient(#ebebeb, #d5d5d5);
  border-bottom: var(--app-border);
  color: #4d494d;
}

h1.title {
  margin: 0;
  text-align: center;
  font-size: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
}

.content > * + * {
  margin-top: 5px;
}

/** App specific */
.input {
  display: flex;
  align-items: baseline;
}

.input > label {
  flex-shrink: 0;
  margin-right: 5px;
}
.input > input { width: 100%; }

select { overflow: auto; }
.people { margin-right: 7px; }
.filter-prefix { width: 50%; }
.list-detail { display: flex; }

.list-detail > * {
  flex-shrink: 0;
  width: 50%;
}

.detail-input > label { width: 80px; }

.controls * + * { margin-left: 10px; }

